<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>
    

    <%- include('./Partials/nav.ejs') %>


    <main class="container">
        <h2>Welcome to my Tasks Page</h2>
        <section>
            <% if (tasks.length){ %>
                <% tasks.map((tasks) => { %>
                    <a href="/api/v1/route/<%- tasks._id %>">
                        <h2><%= tasks.name %></h2>
                        <p><%= tasks.title %></p>
                        <p><%= tasks.task %></p>
                        <p><%= tasks._id %></p>
                    </a>
                    <% }) %>
                
                    <% }else{ %>
                            <h1>No Task to Display</h1>
                        <% } %>
        </section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, deserunt inventore aperiam unde est quia nam, tempore odio quisquam, ad debitis? Quam quis non doloribus sunt, iure placeat nulla ipsum sapiente nam nihil ducimus impedit eaque, autem corrupti accusantium ratione dolores nobis vel vitae libero earum ipsam. Error reiciendis possimus id nisi ex. Doloremque illum, vitae voluptatum natus quos quia deleniti porro quam ex incidunt in labore aperiam unde iste nihil nobis laudantium repellendus quas, omnis soluta provident. Corrupti nostrum eius illo error a cupiditate vel suscipit, eveniet dolore ea sunt magnam facilis in porro adipisci minima doloremque inventore corporis.</p>
    </main>

    <%- include('./Partials/footer.ejs') %>
</body>
</html>